doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
  body
  nav
    ul
      li#brand= title
      li test
      li test
      li test
  header
  main
    block content
