body {
    font-size: 100%;
    font-family: Arial, sans-serif;
    line-height: 2em;
    margin: 0;
}

h1 {
    font-size: 6em;
    line-height: 0.8em;
}

h2 {
    font-size: 3em;
    line-height: 0.8em; 
}

header p{
    font-size: 2em;
}

nav {
    background-color:blueviolet;
    color: white;
    font-size: 1.3em;
    padding: 1em;
}

nav ul {
    margin:0;    
}


nav ul li {
    display:inline;
    margin: 1em;
}

form{
    margin: 0;
    padding: 0;
    display: inline;
}

input{
    padding: 1em;
}

#search{
    width: 50%
}

#submit{
    position:relative;
    left: -2em;
    border: 2px solid #dddddd;
}

header {
    background-color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    display: inline-block;
    background-color:royalblue;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 1.2em;
}

blockquote {
    margin: 0;
    padding: 3em;
    font-size: 1.5em;
    background-color: black;
    color: white;
    text-align: center;
}

blockquote footer{
    background-color: black;
    padding: 0;

}

#main {
    margin: 2em;
    color: black;
}

button{
    position:fixed;
    bottom: 2em;
    right: 2em;
    height: 7em;
    width: 7em;
    padding: 0.5em;
    background-color:transparent;
    border: 0 solid black;
    margin: 1em;
}

button img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: red;
    box-shadow: 0 0.1em 1px rgba(142, 142, 142, 0.46);
}

#results{
    position: fixed;
    display: none;
    left: 50%;
    bottom: 50%;
    width: 75%;
    height: 75%;
    background-color: green;    
    margin: 0 0 -20% -37.5%;
}

footer{
    text-align:center;
    padding: 1em;
    background-color: blueviolet;
    color: white;
}

@media screen and (min-width: 900px){
    section{
        width: 32.5%;
        margin-right: 1.2%;
        float: left;
    }
    section:last-child{
        margin-right: 0;
    }
    footer {
        clear: both;
    }
}