/*Body*/
body {
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/*Navigation Bar*/
nav {
    text-align: center;
    background: #63bbbf;
    color: #ffffff;
    margin: 0;
}

nav ul {
    display: inline;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

nav ul a{
    font-size: 24px;
    text-decoration: none;
    color: white;
}

nav ul a:hover {
    color: #f2f195;
}

nav ul li{
    font-size: 24px;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor:pointer;
    padding: 20px 30px;
}

nav ul li:hover {
    color:#f2f195;
}

nav ul li ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 0;
    padding: 0;
}

nav ul li ul li {
    font-size: 14px;
    background:#63bbbf;
    color:#ffffff;
    display:block;
    margin: 0;
    padding-top: 10px;
    padding: 15px;
}

nav ul li:hover ul {
    font-size: 20px;
    display: block;
    opacity: 1;
    visibility: visible;
}

/*Nav Search*/
.search{
	padding: 8px 15px;
	border: 2px solid #dbdbdb;
}

.button{
	position:relative;
	padding: 8px 15px;
	left: -8px;
	background-color: #bde2eb;
	border: 2px solid #bde2eb;
}

/*Header*/
header {
    text-align: center;
    background: #00bfff;
}
header h1{
	margin: 0;
}

/*Speech*/
#speech{
    padding-top: 30px;
	width: 100%;
	height: 400px;
	margin: 0 auto;
}

.grow {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

.grow:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}

#mic{
	height: 150px;
	width: 150px;
	margin-top: 100px;
	margin-left: 45.5%;
	margin-right: 45.5%;
    /*margin: 5% 41% 5% 41%;*/
}

/*Footer*/
footer{
    text-align: center;
}

em{
    text-decoration: none;
    color: red;
}