body {
  font-size: 100%;
  font-family: Montserrat;
  line-height: 2em;
  margin: 0;
}

/*Text Styling*/
h1 {
  font-size: 3em;
  line-height: 0.8em;
  background-color: #03A9F4;
  padding: 15px;
  color: white;
  margin: 0;
}

h2 {
  font-size: 2em;
  line-height: 0.2em;
}

strong {
	font-weight: bold;
  color: red;
}

.main{
  margin: 15px;
}

::-webkit-input-placeholder {
  font-family: Montserrat;
  color: gray;
}

@media screen and (min-width: 900px){
  section{
    width: 32.5%;
    margin-right: 1.2%;
    float: left;
  }
  section:last-child{
    margin-right: 0;
  }
  footer {
    clear: both;
  }
}
